# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

/conf/*.local.conf
/conf/acl.auth.php
/conf/local.php
/conf/local.protected.php
/conf/users.auth.php
/conf/user*.css
/conf/user*.js
/conf/words.aspell
/conf/lang/*
/conf/plugin_lang/*
/conf/plugins.local.*
/conf/tpl/*
.htaccess
*.swp
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
# Eclipse IDE
.buildpath
.project
.settings/
# DokuWiki
/data/attic/*
/data/cache/*
/data/index/*
/data/locks/*
/data/media/*
/data/media_meta/*
/data/media_attic/*
/data/meta/*
/data/pages/*
/data/tmp/*
!/data/pages/wiki/dokuwiki.txt
!/data/pages/wiki/syntax.txt
!/data/pages/wiki/welcome.txt
/lib/tpl/*
!/lib/tpl/dokuwiki
!/lib/tpl/index.php
/lib/plugins/*
!/lib/plugins/acl
!/lib/plugins/authad
!/lib/plugins/authldap
!/lib/plugins/authmysql
!/lib/plugins/authpgsql
!/lib/plugins/authpdo
!/lib/plugins/authplain
!/lib/plugins/config
!/lib/plugins/extension
!/lib/plugins/info
!/lib/plugins/popularity
!/lib/plugins/revert
!/lib/plugins/safefnrecode
!/lib/plugins/styling
!/lib/plugins/testing
!/lib/plugins/usermanager
!/lib/plugins/action.php
!/lib/plugins/admin.php
!/lib/plugins/auth.php
!/lib/plugins/index.html
!/lib/plugins/remote.php
!/lib/plugins/syntax.php
lib/images/*/local/*

# composer default ignores
composer.phar
vendor/bin/*
vendor/*/*/phpunit.xml*
vendor/*/*/.travis.yml
vendor/*/*/bin/*
vendor/*/*/tests/*
vendor/*/*/test/*
vendor/*/*/doc/*
vendor/*/*/docs/*
vendor/*/*/contrib/*
vendor/splitbrain/php-archive/apigen.neon
vendor/splitbrain/php-archive/generate-api.sh
vendor/paragonie/random_compat/build-phar.sh
vendor/paragonie/random_compat/dist/*
vendor/paragonie/random_compat/other/*
vendor/simplepie/simplepie/db.sql
vendor/marcusschwarz/lesserphp/package.sh
vendor/marcusschwarz/lesserphp/lessify*
vendor/marcusschwarz/lesserphp/Makefile
vendor/marcusschwarz/lesserphp/plessc
vendor/splitbrain/php-cli/examples/*
vendor/splitbrain/php-cli/screenshot*
vendor/splitbrain/php-cli/generate-api.sh
vendor/splitbrain/php-cli/apigen.neon


#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.bin
*.bz2
*.diff
*.gz
*.lst
*.lz4
*.lzma
*.lzo
*.patch
*.tar
*.tmp
*.xz

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitattributes
!.gitignore
!.mailmap
!.htaccess.dist

# stgit generated dirs
patches-*

# quilt's files
patches
series

# backup files
*~
\#*#
~$*
~*
*.bak
*.backup
*.log
*.log.*
*.old
*.org
*.orig
*.rej

# temporary files and directories
tmp-*
tmp.*
tmp_*
*.tmp
*-tmp
*_tmp

#
# Files that are part of the tarball but not part of the upstream repository
#
!/bin/.htaccess
!/conf/.htaccess
!/data/.htaccess
!/data/attic/_dummy
!/data/cache/_dummy
!/data/index/_dummy
!/data/locks/_dummy

!/data/media/wiki/
/data/media/wiki/*

!/data/media/wiki/dokuwiki-128.png
!/data/media/wiki/dokuwiki.svg
!/data/media_attic/_dummy
!/data/media_meta/_dummy
!/data/meta/_dummy

!/data/pages/playground/
/data/pages/playground/*

!/data/pages/playground/playground.txt

!/data/pages/wiki/
/data/pages/wiki/*

!/data/pages/wiki/dokuwiki.txt
!/data/pages/wiki/syntax.txt
!/data/pages/wiki/welcome.txt
!/data/tmp/_dummy
!/inc/.htaccess
!/inc/lang/.htaccess
!/lib/plugins/cli.php
!/vendor/.htaccess
!/vendor/splitbrain/php-archive/phpunit.xml

#
# Plugins and templates that were added
#
!/lib/tpl/loquaciousrutabaga
!/lib/plugins/cacherevisionserase
!/lib/plugins/editx
!/lib/plugins/note
!/lib/plugins/searchindex
